<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="CONN_STR" value="Data Source=DESKTOP-CBB3RH6\DEV_2019_01;Database=Autom8_V005;User ID=sa;Password=sapassword"/>
    <add key="BLC_PATH" value="F:\Autom8\001-Autom8_V5\001-APP\BLC\bin\Debug\net5.0\BLC.dll"/>
    <add key="USER_ID" value="JP-MIT"/>
    <add key="PWD" value="2241ww.AA194275"/>
    <add key="SERVICE_CODE" value="C3"/>
  </appSettings>
</configuration>
