<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CONN_STR" value="Data Source=DESKTOP-CBB3RH6\DEV_2019_01;Database=Autom8_V005;User ID=sa;Password=sapassword"/>
    <add key="BLC_MESSAGES" value="F:\Autom8\001-Autom8_V5\001-APP\Messages\Messages.xml" />
    <add key="ENABLE_TICKET" value="1"/>
    <add key="DOMAIN" value="http://localhost:8100,http://localhost:4200"/>
    <add key="IS_HTTPS" value="https"/>

    <!--<add key="CONN_STR" value="Data Source=.\sqlsrv2016;Database=Autom8_V005;User ID=sa;Password=medical_it"/>
    <add key="BLC_MESSAGES" value="D:\Github\Autom8_V5_002\Messages\Messages.xml" />
    <add key="ENABLE_TICKET" value="1"/>
    <add key="DOMAIN" value="http://localhost:8100,http://localhost:4200,http://10.10.12.166:8300"/>
    <add key="IS_HTTPS" value="http"/>
    -->
    
  </appSettings>
</configuration>