<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CONN_STR" value="Data Source=DESKTOP-CBB3RH6\DEV_2019_01;Database=Autom8_V005;User ID=sa;Password=sapassword"/>
    <add key="BLC_MESSAGES" value="F:\Autom8\001-Autom8_V5\001-APP\Messages\Messages.xml" />
    <!--<add key="UPLOAD_DOCUMENT_LOCATION" value="C:\Projects\JusticiAllMVP\App\WebAPI\Files\Uploaded\"/>
    <add key="WEB_PATH" value="http://192.168.0.6:5000/api/Data"/>-->
    <add key="ENABLE_TICKET" value="1"/>
  </appSettings>
</configuration>