<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CONN_STR" value="Data Source=DESKTOP-CBB3RH6\DEV_2019_01;Database=Autom8_V005;User ID=sa;Password=sapassword"/>
    <add key="CONN_STR_OLD" value="Data Source=DESKTOP-CBB3RH6\DEV_2019_01;Database=Autom8;User ID=sa;Password=sapassword"/>
    <add key="BLC_MESSAGES" value="F:\Autom8\001-Autom8_V5\001-APP\Messages\Messages.xml" />
    <add key="COLORS" value="#809bceff,#55b493ff,#ffaa89ff,#95b8d1ff,#55bcbbff,#ff92d5ff,#dd5e5eff,#6e7582ff,#e6913bff,#6886c5ff,#6e5773ff,#745c97ff,#e2afffff,#a2d2ffff,#ffafccff,#0096c7ff,#446583ff,#9f6af8ff,#86e8d2ff,#6e5bd8ff"/>
    <!--<add key="CONN_STR" value="Data Source=.\sqlsrv2016;Database=Autom8_V005;User ID=sa;Password=medical_it"/>
    <add key="BLC_MESSAGES" value="D:\Github\Autom8_V5_002\Messages\Messages.xml" />-->
  </appSettings>
</configuration>