<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LOG_FILE" value="F:\Autom8\001-Autom8_V5\001-APP\MonitorPLCService\Logs\LogFile.txt"/>
    <add key="EMERGENCY_EMAIL" value="test@test.com"/>
    <add key="USERNAME" value="Admin"/>
    <add key="ENCRYPTED_PASSWORD" value="/y6wmiMsec8="/>
    <add key="API" value="http://localhost:8500/api/Data/"/>
    <add key="DELAY" value="5000"/>


  </appSettings>
</configuration>